<style> table, th, td {
    border: 1px solid;
}
    table {
        height: 100px
    }
    .image_cap{
        max-height:300px;
        width: 100%;
    }
    
</style>
<h1>Customers</h1>

<table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Details</th>
        </tr>
        
    </thead>
    <tbody>
        <% @customers.each do |customer| %>
        <tr>
            <td><%= customer.name %></td>
            <td><%= link_to "Show", customer_path(customer.id) %>
            </tr>
            <% end %>
    </tbody>
</table>
<%= link_to "Restaurants", restaurants_path %><br>
<%= link_to "Add a Customer", new_customer_path %>
<%= link_to "Log Out", '/logout' %><br>
</body>
