<h1>Login</h1>

<%= form_with method:'POST', url: 'customers/authenticate' do |form| %>
    <div>
        <%= form.label :username %>
        <%= form.text_field :username %>
    </div>
    <div>
        <%= form.label :password %>
        <%= form.password_field :password %>
    </div>

    <%= form.submit %>
<% end %>

<%= link_to "Don't have an Account? Please Register", new_customer_path %>