<h1>Create New Customer</h1>

<%=form_with(model: @customer) do |form|%>
    <div>
    <%=form.label :name %>
    <%=form.text_field :name %>
    </div>
    <div>
    <%=form.label :username %>
    <%=form.text_field :username %>
    </div>
    <div>
    <%=form.label :password %>
    <%=form.password_field :password %>
    </div>
    <div>
    <%=form.label :img_url %>
    <%=form.text_field :img_url %>
    </div>
    <div>
    <%=form.label :balance %>
    <%=form.number_field :balance %>
    </div>
    <div>
    <%=form.label :description %>
    <%=form.text_area :description %>
    </div>

    <%=form.submit%>
<%end%>