 <%=form_with model: @order do |form|%>
    <div>
        <%=form.label :restaurant_id%>
        <%=form.number_field :restaurant_id%>
    </div>
    <div>
        <%=form.label :customer_id%>
        <%=form.number_field :customer_id%>
    </div>
    <div>       
        <%=form.label :price%>
        <%=form.number_field :price%>
    </div>

    <%=form.submit %>

<%end%>
