<style> table, th, td {
    border: 1px solid;
}
    table {
        height: 100px
    }
    .image_cap{
        max-height:150px;
        width: 25%;
    }
    
</style>

<h1> Order - <%=@order.restaurant.name%> - <%=@order.customer.name%></h1>

<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Description</th>
            <th>Picture</th>
        </tr>
    </thead>
    <tbody>
        <tr> <% @order.foods.each do |food| %>
            <td><%= food.name %></td>
            <td><%= food.price %></td>
            <td><%= food.description %></td>
            <td><img class= "image_cap" src="<%= food.img_url %>"></td>
        </tr>
            <% end %>
        <tr>
            <td>Total</td>
            <td><%= @order.price %>
        </tr>

    </tbody>
</table>
<%= link_to "Home", customer_path(session[:customer_id]) %>
<%link_to "Edit", edit_order_path(@order.id)%><br>

</body>
<%link_to "Next", order_path(@order.increment)%><br>
<%link_to "Back", order_path(@order.decrement)%><br>
<%link_to "All Orders", orders_path%><br>
<%link_to "Delete", order_path(@order.id), method: "DELETE"%>