<h1><%=@restaurant.name%></h1>
<ul>
    <li>
       <%=@restaurant.restaurant_type%>
    </li>
    <li>
       <%=@restaurant.phone_number%>
    </li>
    <li>
       <%=@restaurant.street_address%>
    </li>
    <li>
       <%=@restaurant.zip%>
    </li>
    <li>
       <%=@restaurant.rating%>
    </li>
    <li>
       <%=@restaurant.description%>
    </li>
    <li>
       <%=@restaurant.img_url%>
    </li>
</ul>
<%=link_to "Next", restaurant_path(@restaurant.next_id)%>
<%=link_to "Back", restaurant_path(@restaurant.back_id)%>
<%=link_to "Edit", edit_restaurant_path(@restaurant.id)%>
<%=link_to "Delete", restaurant_path(@restaurant.id), method: "DELETE"%>
<%=link_to "Create Review", new_review_path%>
<%=link_to "Place an Order", new_order_path%>
<%=link_to "Home", restaurants_path%>