<h1>New Review</h1>
<%=form_with model: @review do |f|%>
    <%if flash[:restaurant_id]%>
        <h3><%=@restaurant.name%></h3>
        <%= hidden_field_tag(:restaurant_id, @restaurant.id) %>
    <%else%>
        <%=f.label :restaurant%>
        <%=f.collection_select :restaurant_id, Restaurant.all, :id, :name%><br>
    <%end%>
        <%=f.label :customer%>
        <%=f.collection_select :customer_id, Customer.all, :id, :name%><br>
        <%=f.label :subject%>
        <%=f.text_field :subject%><br>
        <%=f.label :content%>
        <%=f.text_area :content%><br>
        <%=f.label :rating%>
        <%=f.select :rating, 1..5%><br>
    <%=f.submit%>
<%end%>