<h1>New Review</h1>
<%=form_with model: @@review do |f|%>
        <%=f.label :restaurant%>
        <%=f.collection_select :restaurant_id, Restaurant.all, :id, :name%><br>
        <%=f.label :subject%>
        <%=f.text_field :subject%><br>
        <%=f.label :content%>
        <%=f.text_area :content%><br>
        <%=f.label :rating%>
        <%=f.select :rating, 1..5%><br>
    <%=f.submit%>
<%end%>